body {
    background:#011F26;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:20%;
    padding:10px;
    margin:10px;
    background:#34BFB1;
    border-radius:30px;
}

.assignment img {
    width:200px;
    border:4px solid #F24957;
    margin:10px;
    border-radius:30px;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:4px dashed #F24957;
}

h1 {
    color:#F2E205;
    text-align:center;
}

h2 {
    text-align:center;
}

a {
    text-decoration:none;
    color: #F24957;
}

a:hover {
    color:#19736A;
}